@use '../../../sass/abstracts/' as *;
.carousal {
  .title {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: .2rem;
    color: var(--clr-shadow-grey-800);
    border-bottom: 1px solid var(--clr-shadow-grey-500);
  }
}