@use '../../sass/abstracts/' as *;
.main {
  // max-width: 120rem;
  width: 100vw;
  margin: auto;
  padding-top: 1rem;
  @include break-point("small", "up") {
    padding-top: 2rem;
    // padding: 2rem 0;
    width: 98vw;
  }
  @include break-point("large", "up") {
    padding-top: 2rem;
    width: 95vw;
  }
}

