@use '../../../../sass/abstracts/' as *;

.details {
  border: none !important;

    position: relative;
    .chevron {
      position: absolute;
      right: 0;
    }
    li {
      display: list-item;
      margin: 1rem 0;
    }
  }

  

