@use '../../../sass/abstracts/' as *;
.wrapper {
  position: relative;
}
.header {
  
  @include break-point('medium', 'up') {
    width: 7rem;
    padding: .7rem;
    border: solid 1px var(--clr-shadow-grey-200);
    @include rounded-corners(.2rem, .2rem, .2rem, .2rem);
    &:hover {
      cursor: pointer;
    }
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80%;
      font-weight: 500;
      color: var(--clr-shadow-grey-700);
    }
  }
}
.body {
  position: absolute;
  left: 0;
  top: 130%;
  background-color: white;
  border: 1px solid var(--clr-shadow-grey-100);
  padding: .5rem;
  width: 12rem;
  max-height: 6rem;
  overflow-y: scroll;
  z-index: 2;
  span {
    font-size: .75rem;
    text-overflow: ellipsis; 
    overflow: hidden;
    max-width: 80%;   
  }
  li {
    margin-bottom: .5rem;
    &:hover {
      cursor: pointer;
    }
    svg {
      vertical-align: middle;
      font-size: .6rem;
      padding: .1rem;
      font-weight: 300;
      color: var(--clr-shadow-grey-800);
    }
  }
}
.body-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  z-index: 3;
  span {
    font-size: .75rem;
    text-overflow: ellipsis; 
    overflow: hidden;
    max-width: 80%;   
  }
  li {
    justify-content: space-between;
    padding-bottom: .5rem;
    border-bottom: 1px solid var(--clr-shadow-grey-100);
  }
  .back {
    position: absolute;
  }
}
.closed {
  display: none;
}
.sort-icon {
  margin-right: .5rem;
}
// the box style when its open
.open {
  border: solid 1px var(--clr-shadow-grey-800);
  span {
    font-weight: bold;
    color: var(--clr-shadow-grey-800);
  }
}

.box {
  display: block;
  width: .8rem;
  height: .8rem;
  border: 1px solid var(--clr-shadow-grey-400);
}
.square {
  @extend .box;
  @include rounded-corners(.1rem, .1rem, .1rem, .1rem);
}
.circle {
  @extend .box;
  @include rounded-corners();
}
// the checked checkbox
.checked {
  background-color: var(--clr-shadow-grey-800);
}