@use "../../../../sass/abstracts/" as *;
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  padding: 2rem 1rem;
  @include break-point("small") {
    width: 60%;
  }
  @include break-point("medium", "up") {
    width: 60%;
    position: initial;
    width: initial;
    height: initial;
    padding: 0;
  }
  div {
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
    @include break-point("medium", "up") {
      border: none;
    }
    p {
      font-weight: bold;
      font-size: 1.5rem;
      @include break-point("medium", "up") {
        display: none;
      }
    }
    div {
      border: none;
      padding: 0;
      p {
        font-size: 1.75rem;
      }
    }
  }
  span {
    font-size: 2rem;
    font-weight: bold;
  }
}
.menu {


  @include break-point("medium", "up") {
    position: relative;
  }


  li.mobile {
    display: list-item;
    margin: 1rem 0;
    font-size: 1.5rem;
    @include break-point("medium", "up") {
      display: inline-block;
      margin: 0 0.5rem;
    }
  }
  .desktop {
    position: absolute;
    top: 200%;
    left: -8%;
    height: 50vh;
    width: 100vw;
    background-color: white;
  }

}
