@use '../../../../sass/abstracts/' as *;
.wrapper {
  width: 100%;
  padding: .5rem;
  @include break-point('medium', 'up') {
    width: 42%;
    padding: 0;
  }
}
.title-wrapper {
  gap: 1rem;
  font-weight: 300;
  p {
    font-style: italic;
  }
}
.price-wrapper {
  s {
    color: var(--clr-shadow-grey-300);
  }
  span {
    font-weight: 700;
  }
}
