@use '../../../../sass/abstracts/' as *;

.details {
  border: none !important;

    position: relative;
    .chevron {
      position: absolute;
      right: 0;
    }
  }
  .parent {

  }
  .child {

  }
  

