@use "../../../../sass/abstracts/" as *;

.details {
  // for desktop
  .row {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    @include break-point('medium', 'up') {
      padding: 1rem 1rem 1rem 2rem;
    }
    strong {
      margin: 0 0 0.8rem 0;
      display: block;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    li {
      display: list-item;
      margin: 0 0 0.8rem 0;
      max-width: 8rem;
      font-size: 1.2rem;
      overflow-wrap: break-word;
      
    }
    strong {
      display: block;
      margin: 0 0 0.8rem 0;
    }
  }
  // for mobile
  border: none !important;

  position: relative;
  .chevron {
    position: absolute;
    right: 0;
  }
  li {
    display: list-item;
    margin: 1rem 0;
  }
}
