@use "../../sass/abstracts/" as *;
.section {
  padding: 0 1rem;
}
.wrapper {
  width: 100%;
}
.filter {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
  z-index: 3;
  @include break-point("medium", "up") {
    flex-direction: row;
    justify-content: space-between;
    position: static;
    width: 90%;
    padding: 0;
    background-color: unset;
  }
  h3 {
    align-self: center;
    text-align: center; 
    padding-bottom: .5rem;
    width: 100%;
    border-bottom: 2px solid var(--clr-shadow-grey-100);
  }
  .close {
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    position: absolute;
  }
  ul {
    flex-direction: column;
    gap: 2rem;
    font-size: .8rem;
    color: var(--clr-shadow-grey-700);
    @include break-point('medium', 'up') {
      flex-direction: row;
      gap: 1rem;

    }
  }
}
.sort-wrapper {
  align-self: flex-start;
  @include break-point('medium', 'up') {
    align-self: flex-end;
  }
}
.sort {
  @include break-point("medium", "up") {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  p {
    font-size: 0.75rem;
    font-weight: bold;
  }

}
