@use '../../../sass/abstracts/' as *;
.normal {
  // height: 100%;
  // width: 100%;
  padding-bottom: 1rem;
  justify-content: flex-start!important;
  // align-items: s;
  img {
    height: 80% !important;
  }
  p {
    width: 80%;
  }
}
.bordered {
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.342);
  justify-content: center;
  padding-bottom: 1rem;
}