@use '../../../sass/abstracts/' as *;
.header {
  padding: 1rem 0.5rem;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.43);
  @include break-point("medium", "up") {
    flex-direction: column;
    gap: 1rem;
  }
}
