@use '../../../sass/abstracts/' as *;
.path {
  padding-top: 2rem;
  width: 95%;
  margin: auto;
  @include break-point("small", "up") {
    padding-top: 0;
    width: 95%;
    display: flex;
  }
  @include break-point("large", "up") {
    width: 100%;
  }
  a {
    font-size: .8rem;
    color: var(--clr-shadow-grey-500);
  }
  .active {
    color: black;
    font-weight: 600;
    &:hover {
      cursor: default;
    }
  }

}