@use '../../../sass/abstracts/' as *;
.nav {
  @include break-point("medium", "up") {
    width: 100%;
  }
  li {
    display: inline;
    padding: 0 .5rem;
  }
  .barsicon {
    @include break-point('medium', 'up') {
      display: none;
    }
  }
}