@use '../../../sass/abstracts/' as *;
.nav {
  @include break-point("medium", "up") {
    width: 100%;
    padding: 0 1rem;
  }
  li {
    display: inline;
    margin: 0 .5rem;
    @include break-point("medium", "up") {
      padding-bottom: 1rem;
    }
  }
  .icons_list {
    @include break-point('medium', 'up') {
      z-index: 101;
    }
    li {
      height: fit-content;
      font-size: 1.1rem;
      padding: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .cart {
      position: relative;
      .cart-count {
        position: absolute;
        display: block;
        color: white;
        background-color: black;
        // padding: .25rem;
        width: 20px;
        line-height: 20px;
        text-align: center;
        font-size: .5rem;
        
        @include rounded-corners();
        top: 60%;
        left: 60%;
      }
    }
  }
  .barsicon {
    @include break-point('medium', 'up') {
      display: none;
    }
  }
}